{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}
<h1>News Details</h1>

<h2>{{ object.title }}</h2>
<p>{{ object.article }}</p>
<p><strong>Published on:</strong> {{ object.published_date }}</p>

{% if object.image %}
  <img src="{{ object.image.url }}" alt="{{ object.title }}" style="max-width: 100%; height: auto;">
{% endif %}
<p><strong>Author:</strong> {{ object.author }}</p>

{% if news.tags.all %}
  <p><strong>Tags:</strong>
    {% for tag in news.tags.all %}
      <span class="badge badge-secondary">{{ tag.name }}</span>
    {% endfor %}
  </p>
{% endif %}
{% endblock %}
